data/raw/
data/processed/
models/*
!models/.gitkeep
mlruns/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

venv/
.venv/
env/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db
.env
.ipynb_checkpoints/
*.log
